mds.inode.start=10000001
mds.inode.end=20000000
mds.current.inode=10000001
mds.server.id=MDS2
mds.initial.port=17500
mds.replica.info=MDS1:REP1#MDS2:REP2
mds.partition.config=MDS2#root/directory 1:MDS2#root/directory 2:MDS2#root/directory 6:MDS2#root/directory 8
mds.MDS1.ip=10.176.128.222
mds.MDS2.ip=10.176.128.225
mds.REP1.ip=10.176.128.223
mds.REP2.ip=10.176.128.224